* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*border: solid 2px red;*/
  /*este borde es solo una guia, lo comento y lo descomento cuando lo necesito*/
}